@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
 position: relative;
 min-height: 100%;
}

body{
 font-family: 'Montserrat', sans-serif;
 /* Set Margin bottom equal to footer height */
 margin-bottom: 40px;
}

h1,h2,h3,h4,h5,h6{
 font-family: 'Montserrat', sans-serif;
}

.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 /* Set the fixed footer height equal to body:margin-bottom */
 height: 40px;
 background-color: #f5f5f5;
}

.navbar, .btn, .well, .alert{
 border-radius: 0;
}

.navbar{
 border:0;
 margin-bottom:0;
}
.navbar-static-top{
 margin:0;
}

@media (min-width: 769px) {
 .app-errors{
  margin-top:20px;
 }
}


.navbar-inverse .navbar-toggle{
 border: solid 2px white;
 border-radius:0;
 padding: 8px 10px;
}

.navbar-brand{
 padding-left:0;
 img{
  max-height: 50px;
  margin-right: 10px;
  margin-top:-15px;
 }
}

.page-header{
 margin-top:0;
}

.form-page-container{
 padding: 15px;

 color:#fff;
}

.form-control{
 background: #767676;
 border-radius:0;
 color:#fff;
}

.required{
 white-space: nowrap;
 color:red;
}

ul.event-list, ul.user-list{
 list-style: none;
 li{
  margin-bottom: 5px;
 }
}

.event-date{
 font-family: 'Comfortaa', cursive;
}

.event-title{
 font-family: 'Josefin Sans', sans-serif;
 //font-size: 36px;
 font-weight: 600;
 //font-style: italic;
}
.event-list-row{
 padding: 3px;
 border: none;
 border-top:solid black 2px;
 .event-title{
  font-size: 24px;
  text-transform: uppercase;
 }

 .right-col{
  display: table-cell;
  vertical-align: middle;
 }

 .event-date{
  font-size:24px;
 }

}
.event-list-row:hover{
 background-color: #000011;
 .event-date{
  color:#fff;
 }
}